<header>
  <nav>
    <a href="/">Visionmx</a>
    <ul>
      <figure class="logo">
        <img src="" alt="logo" height="50">
      </figure>
      <a href="Ayuda" class="link">Ayuda</a>
      <a href="Contacto" class="link">Contacto</a>
      <!-- <img src="" alt="+" class="add"> -->
      <li><a href="/projects">Projects</a></li>
      <li><a href="/projects/new">New Project</a></li>
    </ul>
  </nav>
</header>
