<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="contenido.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <title>Proyectos</title>
</head>
<body>
  <header class="header">
      <!-- <div class="container"> -->
          <figure class="logo">
              <img src="" alt="logo" height="50">
          </figure>
          <nav class="menu">
              <div class="part">
                  <a href="Ayuda" class="link">Ayuda</a>
                  <a href="Contacto" class="link">Contacto</a>
                  <img src="" alt="+" class="add">
              </div>
          </nav>
      <!-- </div> -->
  </header>
  <%- body %>

</body>
</html>
