<div class="grid">
    <section class="proyectos">
        <!-- <div class="container"> -->
            <input type="search" placeholder="Buscar" id="busqueda">
                <div class="proys">
                    <li>Proyecto1</li>
                    <li>Proyecto2</li>
                </div>
        <!-- </div> -->
    </section>
    <section class="general">
        <!-- <div class="container"> -->
            <h3 class="proyecto">Proyecto1</h3>
            <h4>GENERAL</h4>
            <li id="costo">Costo Total: </li>
            <li id="pagos_recibidos">Pagos recibidos: </li>
            <li id="gastos">Gastos: </li>
            <li id="utilidad">Utilidad: 30%</li>
            <li id="disponible">Disponible: </li>
            <a href="proyectos">Ver proyectos</a>
        <!-- </div> -->
    </section>
    <section class="pagos">
        <!-- <div class="container"> -->
            <div class="realizados">
                <h3 class="proyecto">Proyecto1</h3>
                <h4>PAGOS</h4>
                <li>05/03/19: $200,000.00</li>
                <li>07/03/19: $300,000.00</li>
            </div>
            <div class="tentativos">
                <h4>TENTATIVOS</h4>
                <li>01/04/19: $150,000.00</li>
            </div>
            <a href="pagos">Ver más</a>
        <!-- </div> -->
    </section>
    <section class="gastos">
            <!-- <div class="container"> -->
                <h3 class="proyecto">Proyecto1</h3>
                <h4>GASTOS</h4>
                <p>
                    <li>06/03/19: 20,000.00</li>
                    <li>Pedro - avión</li>
                </p>
                <p>
                    <li>06/03/19: 80,000.00</li>
                    <li>Juan - Provedor1</li>
                </p>
                <a href="gastos">Ver más</a>
            <!-- </div> -->
        </section>
    <script src="contenido.js"></script>
</div>
