<label for="name">Name</label>
<input type="text" name="name" value="<%= project.name %>">
<label for="total_value">Total Cost</label>
<input type="number" name="total_value" value="<%= project.total_value %>">
<label for="utility">Utility %</label>
<input type="number" name="utility" min="0" max="100" value="<%= project.utility %>">
